/*/////////////////////////////////////////////////////////////////////
                            css de la page globale
/////////////////////////////////////////////////////////////////////*/
body{
  margin: 0;
  padding: 20px;
}
#titre{

}
#h3{
padding: 15px;
margin-bottom: 0;
}
#employe{
}
/*/////////////////////////////////////////////////////////////////////
                      fin de la partie css globale
/////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////
              debut de la partie css divs profils
/////////////////////////////////////////////////////////////////////*/
div .profil{
  width: 300px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  float: left;
  margin: 10px;
}
.img{
  padding: 10px;
  border-radius: 50%;
  float: left;
}
p .description{
  float: left;
}
p{
  font-size: 13px;
  margin: 5px;
}
.info{
  font-size: 17px;
}
.infosecondaire{
  color: grey;
}
.profil .infoscache{
  display: none;
}
/*/////////////////////////////////////////////////////////////////////
              fin de la partie css divs profils
/////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////
              debut de la partie css lightbox
/////////////////////////////////////////////////////////////////////*/
#overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  text-align: center;

}
.overlaytitle{
    width: 35%;
    height: 60%;
    background-color: white;
    text-align: center;
    color: black;
    display: block;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 10px;
}
.overlaytitle .img{
  clear: left;
  margin-left: 245px;
  margin-bottom: 25px;
  width: 150px;
}
.overlaytitle .description{
  clear: left;
}
hr{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 300px;
}
.overlaytitle .infoscache{
  color: grey;
}
/*/////////////////////////////////////////////////////////////////////
              fin de la partie css lightbox
/////////////////////////////////////////////////////////////////////*/
